[Desktop Entry]
Name=Ping Localhost
Type=Application
Comment=Backup files
Exec=/home/smbadmin/addusers.sh
Terminal=true
StartupNotify=false
Icon=users
