[Desktop Entry]
Name=Import Users
Type=Application
Comment=Import Users
Exec=/home/smbadmin/CreateUsers/addusers.sh
Terminal=true
StartupNotify=false
Icon=users
